services:
  pcweb:
    build: 
      context: ..
      dockerfile: pcweb/Dockerfile
    container_name: pcweb
    ports:
      - "3001:80"
    restart: always
    environment:
      - NODE_ENV=production
    networks:
      - app-network

networks:
  app-network:
    external: true
