name: Deploy Frontend

on:
  push:
    paths:
      - "frontend/**"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Deploy frontend
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: mirainest.asuscomm.com
          username: zerone6
          key: ${{ secrets.DEPLOY_KEY }}
          script: |
            cd ~/app/frontend
            docker compose down
            docker compose build
            docker compose up -d
